<!DOCTYPE HTML>

<html>

<head>
	<title>Lab 0 - Getting Started with Git </title>
	
	<link rel='stylesheet' href='/static/lib/bootstrap/css/bootstrap.min.css' type='text/css'/>
	
</head>


<body>
	
	
	<div class='container'>
		
		
		{{ instruction_html | safe }}
		
	</div>
	
</body>


</html>